BasedOnStyle: LLVM

AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 0
SortIncludes: false
TabWidth: 4

FixNamespaceComments: true

# Alignment
PointerAlignment: Right
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Right
AlignOperands: true

# Indentation
IndentWidth: 4
NamespaceIndentation: All
IndentCaseLabels: false
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine : true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine : true
AllowShortFunctionsOnASingleLine : InlineOnly